<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByy5HXl9f9Bc74xejdw4XT81udDM6ehV4</string>
	<key>GCM_SENDER_ID</key>
	<string>131092586115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myapp-flutter-project2</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-flutter-project2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131092586115:ios:10077c6ea299e115c005b6</string>
</dict>
</plist>